.nav-item {
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
  }

  .tabsNav {
    text-align: center;
    margin: 0 auto;
    width: 100%;
   /* max-width: 100%;*/
    margin-bottom: 37px;
    display: inline-block;
    padding: 45px;
  }

  a {
    text-align: center;
    display: inline-block;
  }
  
  .nav-link-custom {
    background-color: #dfdfdf;
    color: rgb(17, 14, 14);
    border-radius: 20px;
   /* font-weight: 600;*/
    font-family: 'Montserrat', sans-serif;
  }
  
  .nav-link:hover {
    filter: drop-shadow(2px 2px 7px rgb(194, 194, 194));
    background-color: #cb2a3f;
    color: white
  }
  
  .nav-link-custom.active {
    filter: drop-shadow(5px 5px 10px rgb(194, 194, 194));
    background-color: #3a3a3a;
    color: rgb(235, 235, 235);
    font-weight: 600;
  }

  .tabsNav {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 37px;
    /* background-color: #e2e2e2; */
    /* border-radius: 10px; */
    display: inline-block;
  }

  
li {
    text-align: center;
    display: inline-block;
  }
  
  .nav-link-custom-tab {
    background-color: #dfdfdf;
    color: rgb(104, 104, 104);
    border-radius: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }
  
  .nav-link-all {
    background-color: #ffcdcd;
    color: rgb(104, 104, 104);
    border-radius: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  .nav-link-all.active {
    filter: drop-shadow(5px 5px 10px rgb(194, 194, 194));
    background-color: #3a3a3a;
    color: rgb(235, 235, 235);
    font-weight: 600;
  }
  
  .nav-link:hover {
    filter: drop-shadow(2px 2px 7px rgb(194, 194, 194));
  }
  
  .nav-link-custom-tab.active {
    filter: drop-shadow(5px 5px 10px rgb(194, 194, 194));
    background-color: #3a3a3a;
    color: rgb(235, 235, 235);
    font-weight: 600;
  }