<ion-header>
  <ion-toolbar>
    <ion-title>cantiniere-menu</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ul id="tabsNav" class="tabsNav nav">
            <a routerLink="/cantiniereRecap" class="nav-item nav-link nav-link-custom small text-uppercase col-12 col-xl-3 mb-2">Récapitulatif</a>
            <a routerLink="/cantinierePlat" class="nav-item nav-link nav-link-custom small text-uppercase col-12 col-xl-3 mb-2">Plats</a>
            <a routerLink="/cantiniereMenu" class="nav-item nav-link nav-link-custom small text-uppercase col-12 col-xl-3 mb-2 active">Menus</a>
            <a routerLink="/user-account" class="nav-item nav-link nav-link-custom small text-uppercase col-12 col-xl-3 mb-2">Utilisateurs</a>
          </ul>
    </ion-row>
  </ion-grid>
</ion-content>