<ion-header>
  <ion-toolbar>
    <ion-title>Menus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="add">
    <ion-button class="btn-ajouter" [routerLink]="['/add-menus']"
      >Ajouter</ion-button
    >
  </div>

  <ul id="tabsNav" class="tabsNav nav">
    <li
      class="nav-item nav-link nav-link-custom small text-uppercase active mr-3"
      [class.active]="viewMode == 'tabToday'"
      rel="tabToday"
      (click)="viewMode = 'tabToday'"
    >
      Aujourd'hui
    </li>
    <li
      class="nav-item nav-link nav-link-custom small text-uppercase active ml-3"
      [class.active]="viewMode == 'tabThisWeek'"
      rel="tabThisWeek"
      (click)="viewMode = 'tabThisWeek'"
    >
      Cette semaine
    </li>
  </ul>

  <div id="tabsContent" class="tab-content tabsContent" [ngSwitch]="viewMode">
    <div
      id="tabToday"
      *ngSwitchCase="'tabToday'"
      class="tab-pane fade active show"
    >
      <ion-slides>
        <ion-slide *ngFor="let menu of listMenuToday; let i = index">
          <ion-card class="card-ion">
            <img class="" src="../../../assets/menu-default.png" />
            <ion-card-header class="header-ion">
              <ion-card-title class="" role="heading">
                {{ menu.label }}</ion-card-title
              >
            </ion-card-header>
            <ion-card-content class="content-ion">
              <div class="meals">
                <div class="meallabel" *ngFor="let meal of menu.meals">
                  • &nbsp;&nbsp;{{ meal.label }}
                  <br />
                </div>
              </div>
              <div class="price-div">
                <div class="price">
                  <p class="card-text">{{ menu.priceDF }} €</p>
                </div>
                <hr />
              </div>
            </ion-card-content>
            <div class="btnGroup">
              <ion-button
                class="btn-edit"
                [routerLink]="['/editer-menus', menu.id]"
                >Editer</ion-button
              >
              <ion-button class="btn-delete" (click)="deleteMenu(menu.id)"
                >Supprimer</ion-button
              >
            </div>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <div id="tabsContent" class="tab-content tabsContent" [ngSwitch]="viewMode">
      <div
        id="tabThisWeek"
        *ngSwitchCase="'tabThisWeek'"
        class="tab-pane fade active show"
      >
        <ion-slides>
          <ion-slide *ngFor="let menu of listMenuThisWeek; let i = index">
            <ion-card class="card-ion">
              <img class="" src="../../../assets/menu-default.png" />
              <ion-card-header class="header-ion">
                <ion-card-title class="" role="heading">
                  {{ menu.label }}</ion-card-title
                >
              </ion-card-header>
              <ion-card-content class="content-ion">
                <div class="meals">
                  <div class="meallabel" *ngFor="let meal of menu.meals">
                    • &nbsp;&nbsp;{{ meal.label }}
                    <br />
                  </div>
                </div>
                <div class="price-div">
                  <div class="price">
                    <p class="card-text">{{ menu.priceDF }} €</p>
                  </div>
                  <hr />
                </div>
              </ion-card-content>
              <div class="btnGroup">
                <ion-button
                  class="btn-edit"
                  [routerLink]="['/editer-menus', menu.id]"
                  >Editer</ion-button
                >
                <ion-button class="btn-delete" (click)="deleteMenu(menu.id)"
                  >Supprimer</ion-button
                >
              </div>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </div>
</ion-content>
