<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Editer un plat</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="editMeal(f)" #f="ngForm">
    <div class="editPlat">
      <div>
        <label for="">Plat: </label>
        <input
          class="editInput"
          type="text"
          name="label"
          [ngModel]="meal.label"
          ngModel
        />
      </div>
      <div>
        <label for="">Desc: </label>
        <input
          class="editInput"
          type="text"
          name="description"
          [ngModel]="meal.description"
          ngModel
        />
      </div>
      <div>
        <label for="">Prix: </label>
        <input
          class="editInput"
          type="number"
          name="priceDF"
          [ngModel]="meal.priceDF"
          ngModel
        />
      </div>
    </div>
    <div class="btnGroup">
      <ion-button class="btn-modifier" type="submit">Modifier</ion-button>
      <ion-button class="btn-annuler" [routerLink]="['/cantiniere-plat']"
        >Annuler</ion-button
      >
    </div>
  </form>
</ion-content>
