.center {
    border: 3px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 4px;
    width: fit-content;
}

h1 {
    filter: drop-shadow(2px 2px 7px rgb(167, 167, 167));
}

.btn-test {
    float: right;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 23px;
    // border-radius: 10px;
}

.delete:hover {
    opacity: 0.6;
    cursor: pointer;
}

.block {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}

.imgMenuPanier {
    margin-bottom: 5px;
    border-radius: 5px;
}

// .nomMenu {
//     margin-top: -20px !important;
//     margin-bottom: 20px !important;
// }