<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Utilisateurs</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h4 class="cagnotte-border">Cagnotte: {{ user.wallet }}€</h4>
    <div class="btnGroup">
      <ion-button class="btn-crediter" [routerLink]="['/crediter', user.id]"
        >Créditer</ion-button
      >
      <ion-button class="btn-debiter" [routerLink]="['/debiter', user.id]"
        >Débiter</ion-button
      >
    </div>
    <h4 class="infos">{{ user.name }}</h4>
    <h4 class="infos">{{ user.firstname }}</h4>
    <h4 class="infos">{{ user.email }}</h4>
  </div>

  <div>
    <h4 class="commande">Commandes en cours:</h4>
  </div>

  <div class="recap">
    <h4 class="recapTitle">Récapitulatif de la commande</h4>
  </div>
</ion-content>
