<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Utilisateurs</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user != null">
  <div>
    <h4 class="cagnotte-border">Cagnotte: {{ user.wallet }}€</h4>
    <div class="btnGroup">
      <ion-button class="btn-crediter" [routerLink]="['/crediter', user.id]"
        >Créditer</ion-button
      >
      <ion-button class="btn-debiter" [routerLink]="['/debiter', user.id]"
        >Débiter</ion-button
      >
    </div>
    <h4 class="infos">{{ user.name }}</h4>
    <h4 class="infos">{{ user.firstname }}</h4>
    <h4 class="infos">{{ user.email }}</h4>
  </div>

  <div>
    <h4 class="commande">Commandes en cours:</h4>
  </div>

  <div id="tabToday" class="tab-pane fade active show">
    <ion-slides>
      <ng-container *ngFor="let order of orders">
        <ion-slide *ngIf="order.menu != null">
          <ion-card class="card-ion" *ngIf="order.menu != null">
            <img class="" src="../../../assets/menu-default.png" />
            <ion-card-header class="header-ion">
              <ion-card-title class="" role="heading">
                {{ order.menu.label }}</ion-card-title
              >
            </ion-card-header>
            <ion-card-content class="content-ion">
              <div class="meals">
                <div class="meallabel" *ngFor="let meal of order.menu.meals">
                  • &nbsp;&nbsp;{{ meal.label }}
                  <br />
                </div>
              </div>
              <div class="price-div">
                <div class="price">
                  <p class="card-text">{{ order.menu.priceDF }} €</p>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ng-container>
    </ion-slides>
  </div>
</ion-content>
