<ion-header>
  <ion-toolbar>
    <ion-title>Plats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="add">
    <ion-button class="btn-ajouter" [routerLink]="['/add-plats']"
      >Ajouter</ion-button
    >
  </div>

  <ul id="tabsNav" class="tabsNav nav">
    <li
      class="nav-item nav-link nav-link-custom small text-uppercase active mr-3"
      [class.active]="viewMode == 'tabToday'"
      rel="tabToday"
      (click)="viewMode = 'tabToday'"
    >
      Aujourd'hui
    </li>
    <li
      class="nav-item nav-link nav-link-custom small text-uppercase active ml-3"
      [class.active]="viewMode == 'tabThisWeek'"
      rel="tabThisWeek"
      (click)="viewMode = 'tabThisWeek'"
    >
      Cette semaine
    </li>
  </ul>

  <ion-slides>
    <ion-slide>
      <ion-card class="card-ion">
        <img class="" src="../../../assets/menu-default.png" />
        <ion-card-header class="header-ion">
          <ion-card-title class="" role="heading">
            {{ meal.label }}</ion-card-title
          >
        </ion-card-header>
        <ion-card-content class="content-ion">
          <div class="meals">
            <div class="meallabel" *ngFor="let ingredient of meal.ingredients">
              • &nbsp;&nbsp;{{ ingredient.label }}
              <br />
            </div>
          </div>
          <div class="price-div">
            <div class="price">
              <p class="card-text">{{ meal.priceDF }} €</p>
            </div>
            <hr />
          </div>
        </ion-card-content>
        <div class="btnGroup">
          <ion-button class="btn-edit" routerLink="[/editer-plats']"
            >Editer</ion-button
          >
          <ion-button class="btn-delete" [routerLink]="['/delete-plats']"
            >Supprimer</ion-button
          >
        </div>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="card-ion">
        <img class="" src="../../../assets/menu-default.png" />
        <ion-card-header class="header-ion">
          <ion-card-title class="" role="heading">
            {{ meal.label }}</ion-card-title
          >
        </ion-card-header>
        <ion-card-content class="content-ion">
          <div class="meals">
            <div class="meallabel" *ngFor="let ingredient of meal.ingredients">
              • &nbsp;&nbsp;{{ ingredient.label }}
              <br />
            </div>
          </div>
          <div class="price-div">
            <div class="price">
              <p class="card-text">{{ meal.priceDF }} €</p>
            </div>
            <hr />
          </div>
        </ion-card-content>
        <div class="btnGroup">
          <ion-button class="btn-edit" [routerLink]="['/editer-plats']"
            >Editer</ion-button
          >
          <ion-button class="btn-delete" [routerLink]="['/delete-plats']"
            >Supprimer</ion-button
          >
        </div>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
