<ion-header>
  <ion-toolbar>
    <ion-title>Cagnotte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="message">
    <p>
      Êtes-vous sur de vouloir solder le compte de Kevin Lorem ?
      <br />
      Une fois solder, les informations concernant cet utilisateur seront
      supprimées définitivement.
    </p>
  </div>
  <div class="btnGroup">
    <ion-button class="btn-valider" [routerLink]="['/account-modifications']"
      >Valider</ion-button
    >
    <ion-button class="btn-annuler">Annuler</ion-button>
  </div>
</ion-content>
