<ion-header>
  <ion-toolbar>
    <ion-title>
      <img
        src="../../../assets/img/logo_cantiniere.png"
        alt=""
        width="200"
        height="75"
      />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1 class="bienvenue">Bienvenue</h1>
    <h4 class="inscription">Créer un compte. Nouveau chez La Cantinière ?</h4>
    <!-- Debut du formulaire d'inscription -->
    <form
      (ngSubmit)="creerUtilisateur(f)"
      #f="ngForm"
      for="validerInscription"
      class="formulaire"
      novalidate
    >
      <div class="formInscription">
        <input
          name="prenom"
          type="text"
          class="formInscriptionInput"
          id="prenom"
          placeholder="Prénom"
          ngModel
          required
        />
        <input
          name="nom"
          type="text"
          class="formInscriptionInput"
          id="nom"
          placeholder="Nom"
          ngModel
          required
        />
        <input
          name="mail"
          type="email"
          class="formInscriptionInput"
          id="email"
          placeholder="Email"
          ngModel
          required
        />
        <input
          name="password"
          type="password"
          class="formInscriptionInput"
          id="password"
          placeholder="Mot de passe"
          ngModel
          required
        />
        <div class="passwordInfo">
          <p>
            Les mots de passe doivent au moins avoir 8 caractères.
          </p>
        </div>
        <div class="form-group">
          <ion-button type="submit" class="btn-test">
            Créer mon compte
          </ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
