<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Inscription</ion-title> -->
    <ion-card-header>La cantinière</ion-card-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1 class="bienvenue" style="text-align: center">Bienvenue</h1>
    <h4 class="connexion ion-text-center">Inscription</h4>

    <!-- Debut du formulaire d'inscription -->
    <form (ngSubmit)="creerUtilisateur(f)" #f="ngForm" for="validerInscription" class="formulaire ion-text-center"
      novalidate>
      <div class="form-group">
        <ion-input name="prenom" type="text" class="form-control" id="prenom" placeholder="Prénom" ngModel required>
        </ion-input>
      </div>
      <div class="form-group">
        <ion-input name="nom" type="text" class="form-control" id="nom" placeholder="Nom" ngModel required>
        </ion-input>
      </div>
      <div class="form-group">
        <ion-input name="mail" type="email" class="form-control" id="email" placeholder="Email" ngModel required>
        </ion-input>
      </div>
      <div class="form-group">
        <ion-input name="password" type="password" class="form-control" id="password" placeholder="Mot de passe" ngModel
          required>
        </ion-input>
      </div>

      <div class="form-group ion-text-center">
        <ion-button color="danger" type="submit" class="btn-test">
          S'inscrire
        </ion-button>
      </div>
    </form>
  </div>

</ion-content>
