h1 {
    filter: drop-shadow(2px 2px 7px rgb(167, 167, 167));
}

.container-fluid {
    /* margin: 10%; */
    background: #f5f5f5;
}

.nav-item {
    cursor: pointer;
    /* margin-right: 10px; */
    font-size: 1.4em;
    font-weight: 700;
    text-align: center;
    padding: 8px;
}

.tabsNav {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    /* background-color: #e2e2e2; */
    /* border-radius: 10px; */
    display: inline-block;
    padding: 0px !important;
}

li {
    text-align: center;
    display: inline-block;
}

.nav-link-custom {
    background-color: #dfdfdf;
    color: rgb(104, 104, 104);
    border-radius: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.nav-link-all.active {
    filter: drop-shadow(5px 5px 10px rgb(194, 194, 194));
    background-color: #3a3a3a;
    color: rgb(235, 235, 235);
    font-weight: 600;
}

.nav-link:hover {
    filter: drop-shadow(2px 2px 7px rgb(194, 194, 194));
}

.nav-link-custom.active {
    filter: drop-shadow(5px 5px 10px rgb(194, 194, 194));
    background-color: #3a3a3a;
    color: rgb(235, 235, 235);
    font-weight: 600;
}

.tab-pane {
    /* display: flex; */
    text-align: center;
}

.tab-pane.active {
    animation: appear 1.2s ease-in-out;
    /* animation: scale-up-center 0.4s ease-in-out; */
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.card-ion {
    margin: 15px;
    filter: drop-shadow(5px 5px 10px rgb(194, 194, 194));
    width: 60%;
    height: -moz-fit-content;
    /* max-width: 15rem; */
    display: inline-block;
    border-radius: 10px;
    transition: .5s ease;
}

/* .card .card-img-top:hover { */
/* opacity: 0.2; */
/* -webkit-filter: blur(3px) opacity(.8); */
/* filter: blur(3px) opacity(.8); */
/* } */

.card-img-top {
    height: 150px;
    opacity: 0.85;
    transition: .5s ease;
    /* cursor: pointer; */
}

.card-title-custom {
    text-align: center;
    font-size: 1.15em;
    font-weight: 500;
    min-height: 62px;
}

/* 
  .card-title-custom :hover {
    cursor: pointer;
  } */

.card-text {
    font-size: 0.9em;
}

.price {
    background-color: #f5f5f5;
    box-shadow: inset 0px 0px 8px rgba(175, 175, 175, 0.9);
    border-radius: 33px;
    padding: 9px;
    width: fit-content;
    margin: 0 auto;
    /* margin-bottom: 15px; */
    font-size: 1.15em;
    font-weight: 700;
    text-align: center;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.radio-button {
    margin: 5px;
}

.img-meal {
    border: 3px solid rgb(105, 105, 105);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    opacity: 0.7;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.full {
    width: 50%;
    margin: 0 auto;
}

.quantity {
    width: 100%;
}

/* Pour le responsive */
@media (max-width: 768px) {
    .nav-item {
        margin-bottom: 4px;
    }
}


.text-h1 {
    font-weight: 800;
    text-align: center;
}

.today {
    margin-right: 10px;
}

.thisweek {
    margin-left: 10px;
}

.header-ion {
    background-color: #ffffff;
    padding-bottom: 0px;
}

.content-ion {
    background-color: #ffffff;
}

.meals {
    padding-bottom: 23px;
}

.details {
    float: right;
    margin-top: -5px;
}

.meallabel {
    font-style: italic;
}

li {
    margin: 5px;
}