<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ajouter un menu</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addMenu(f)" #f="ngForm">
    <div class="ajoutMenu">
      <div>
        <label for="">Menu: </label>
        <input class="ajoutInput" type="text" name="label" ngModel />
      </div>
      <div>
        <label for="">Plat: </label>
        <input class="ajoutInput" type="text" name="meals" ngModel />
      </div>
      <div>
        <label for="">Prix: </label>
        <input class="ajoutInput" type="number" name="priceDF" ngModel />
      </div>
    </div>
    <div class="btnGroup">
      <ion-button class="btn-ajouter" type="submit">Ajouter</ion-button>
      <ion-button class="btn-annuler" [routerLink]="['/cantiniere-menu']"
        >Annuler</ion-button
      >
    </div>
  </form>
</ion-content>
