<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Utilisateurs</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search">
    <label for="">Votre recherche:</label><br />
    <input class="searchInput" type="text" [(ngModel)]="searchText" /><br />
    <ion-button class="btn-search">Rechercher</ion-button>
  </div>

  <ion-slides>
    <ion-slide *ngFor="
        let user of users
          | search
            : {
                firstname: searchText,
                name: searchText,
                email: searchText
              };
        let i = index
      ">
      <ion-card>
        <ion-card-content>
          <h4 class="infos">{{ user.name }}</h4>
          <h4 class="infos">{{ user.firstname }}</h4>
          <h4 class="infos">{{ user.email }}</h4>
          <a class="chevron-icon" [routerLink]="['/user-details', user.id]">
            <i class="fas fa-chevron-circle-down"></i>
          </a>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
