<ion-header>
  <ion-toolbar>
    <ion-title>Cagnotte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="debiter(f)" #f="ngForm">
    <div class="infos">
      <p>
        Veuillez indiquer le montant que vous souhaiter débiter du compte de
        {{ user.firstname }} {{ user.name }}.
      </p>
    </div>
    <div class="cagnotte">
      <label for="">Débiter: </label>
      <input class="cagnotteInput" name="amount" type="number" ngModel />
    </div>
    <div class="btnGroup">
      <ion-button
        class="btn-valider"
        type="submit"
        [routerLink]="['/user-details', user.id]"
        >Valider</ion-button
      >
      <ion-button class="btn-annuler">Annuler</ion-button>
    </div>
  </form>
</ion-content>
