<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar style="height: 75px;">
          <ion-title style="height: 75px">
            <a>
              <img
                src="../assets/img/logo_cantiniere.png"
                width="200"
                height="75"
              />
            </a>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngIf="isAuth" color="dark">
            <ion-icon slot="start" name="contact"></ion-icon>
            <ion-label>
              Bienvenue <b>{{ userConnected.firstname }}</b> !
            </ion-label>
          </ion-item>
          <ion-menu-toggle auto-hide="false">
            <ion-item
              [routerDirection]="'root'"
              routerLink="/home"
              class="firstItem"
            >
              <ion-label>
                Home
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle
            auto-hide="false"
            *ngIf="isAuth && userConnected.isLunchLady == 0"
          >
            <ion-item [routerDirection]="'root'" routerLink="/my-account">
              <ion-label>
                Mon compte
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle
            auto-hide="false"
            *ngIf="isAuth && userConnected.isLunchLady == 1"
          >
            <ion-item [routerDirection]="'root'" routerLink="/my-account">
              <ion-label>
                Mon compte
              </ion-label>
            </ion-item>
            <div class="lunchLadyMenu">
              <ion-item routerLink="/recap-cantiniere">
                <label>Récapitulatif</label>
              </ion-item>
              <ion-item routerLink="/cantiniere-plat">
                <label>Plats</label>
              </ion-item>
              <ion-item routerLink="/cantiniere-menu">
                <label>Menus</label>
              </ion-item>
              <ion-item routerLink="/user-account">
                <label>Utilisateurs</label>
              </ion-item>
            </div>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              *ngIf="!isAuth"
              [routerDirection]="'root'"
              routerLink="/inscription"
            >
              <ion-label>
                Inscription
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              *ngIf="!isAuth"
              [routerDirection]="'root'"
              routerLink="/connexion"
            >
              <ion-label>
                Connexion
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              *ngIf="isAuth"
              (click)="deconnexion()"
              [routerDirection]="'root'"
              routerLink="/home"
            >
              <ion-label>
                Déconnexion
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
