<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot=start>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-card-header>La cantinière</ion-card-header>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="inscription"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      <img
        src="../../../assets/img/logo_cantiniere.png"
        alt=""
        width="200"
        height="75"
      />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1 class="aide">Aide sur le mot de passe</h1>
    <h4 class="saisir">
      Saisissez l'adresse e-mail associé à votre compte La Cantinière
    </h4>
    <form class="formPasswordForgot" novalidate>
      <div class="form-group">
        <div class="formPasswordForgot">
          <br />
          <input
            name="email"
            type="email"
            class="formPasswordForgotInput"
            id="inputEmail5"
            placeholder="Adresse e-mail"
            required
          />
          <br />
        </div>
        <p class="saisir">
          Vous devriez recevoir un mail de réinitialisation.
        </p>
        <div class="footer">
          <ion-button type="submit" class="btn-test">
            Continuer
          </ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
