<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-card-header>La cantinière</ion-card-header>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <h1 class="bienvenue" style="text-align: center">Bienvenue</h1>
    <h4 class="connexion ion-text-center">Connexion</h4>
    <!-- Debut du formulaire de connexion -->
    <form class="needs-validation" (ngSubmit)="connexion(f)" #f="ngForm" novalidate>
      <ion-button color="danger" class="forgotPassword" routerLink="/motdepassoublie">Mot de passe oublié</ion-button>
      <div class="form-group">
        <ion-input name="email" type="email" class="form-control" id="inputEmail4" placeholder="Email" ngModel required>
        </ion-input>
      </div>
      <div class="form-group">
        <ion-input name="password" type="password" class="form-control" id="inputPassword4" placeholder="Mot de passe"
          ngModel required></ion-input>
      </div>
      <div class="form-group">
        <ion-button color="danger" type="submit" class="btn-test">
          Identifiez-vous
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
