ion-title {
  font-size: 25px;
  font-weight: bold;
  color: #dc3545;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
}

.body {
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("../../../assets/img/food-acceuil.jpg") no-repeat center center fixed;
  height: 100%;
}

p {
  color: white;
  font-size: 23px;
  margin: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  filter: drop-shadow(0px 0px 8px rgb(0, 0, 0));
}

.commander {
  text-transform: none;
  --border-radius: 19px !important;
  --background: #d3283f;
  font-weight: bold;
  width: 40%;
  height: 40px;
  font-size: 18px;
}

@media (max-width: 320px) {
  .commander {
    font-size: 16px;
  }
}
