<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">
      La cantinière
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <div class="paragraph">
      <p>Mangez frais, Mangez prêt</p>
      <p>Commandez avant 10h30</p>
    </div>
    <ion-button color="danger" class="commander" [routerLink]="['/menu']"
      *ngIf="userConnected == '' || userConnected.isLunchLady == 0">
      Commander
    </ion-button>
    <ion-button color="primary" class="commander" *ngIf="userConnected.isLunchLady == 1"
      [routerLink]="['/cantiniereRecap']">
      Administrer
    </ion-button>
  </div>

</ion-content>
