ion-title {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: #dc3545;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
}

ion-content {
  --ion-background-color: #f5f5f5;
}

.message {
  margin: 80px 30px 40px 30px;
  font-weight: bold;
  line-height: 25px;
}

.btnGroup {
  text-align: center;
  margin-top: 30px;
}

.btn-valider {
  text-transform: none;
  // background-color: #D3283F;
  --border-radius: 19px !important;
  --background: #d3283f;
  font-weight: bold;
  width: 35%;
  margin-right: 20px;
  height: 40px;
}

.btn-annuler {
  text-transform: none;
  // background-color: #D3283F;
  --border-radius: 19px !important;
  --background: #d3283f;
  font-weight: bold;
  width: 35%;
  margin-left: 20px;
  height: 40px;
}
