<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un plat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ajoutPlat">
    <div>
      <label for="">Plat: </label>
      <input class="ajoutInput" type="text" />
    </div>
    <div>
      <label for="">Desc: </label>
      <input class="ajoutInput" type="text" />
    </div>
    <div>
      <label for="">Prix: </label>
      <input class="ajoutInput" type="number" />
    </div>
  </div>
  <div class="btnGroup">
    <ion-button class="btn-ajouter" [routerLink]="['/cantiniere-plat']"
      >Ajouter</ion-button
    >
    <ion-button class="btn-annuler" [routerLink]="['/cantiniere-plat']"
      >Annuler</ion-button
    >
  </div>
</ion-content>
