<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un plat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addMeal(f)" #f="ngForm">
    <div class="ajoutPlat">
      <div>
        <label for="">Plat: </label>
        <input class="ajoutInput" type="text" name="label" ngModel />
      </div>
      <div>
        <label for="">Desc: </label>
        <input class="ajoutInput" type="text" name="description" ngModel />
      </div>
      <div>
        <label for="">Prix: </label>
        <input class="ajoutInput" type="number" name="priceDF" ngModel />
      </div>
    </div>
    <div class="btnGroup">
      <ion-button class="btn-ajouter" type="submit">Ajouter</ion-button>
      <ion-button class="btn-annuler" [routerLink]="['/cantiniere-plat']"
        >Annuler</ion-button
      >
    </div>
  </form>
</ion-content>
